<template name="accordion">
    <div class="ui fluid inverted accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            Scheduling
        </div>
        <div class="active content">
            {{> deviceForm}}
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Stimuli
        </div>
        <div class="content">
            {{> stimuliForm}}
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Trials
        </div>
        <div class="content">
            {{> trialsForm}}
        </div>
    </div>
</template>

<template name="deviceForm">
    <form id="device-form" class="ui inverted form">
        <div class="field">
            <label>Device(s)</label>
            <select multiple="" class="ui dropdown">
                {{#each device}}
                    <option value="{{status.lastLogin.ipAddr}}">{{profile.name}}</option>
                {{/each}}
            </select>
        </div>
    </form>
</template>

<template name="stimuliForm">
    <form id="stimuli-form" class="ui inverted form">
        <div class="field">
            <label>No. of Stimuli</label>
            <input type="number" name="number" placeholder="#1+" value="{{$.Session.get 'stimuli'}}">
        </div>
    </form>
</template>

<template name="trialsForm">
    <form id="trials-form" class="ui inverted form">
        <div class="field">
            <label>No. of Trials</label>
            <input type="number" name="number" placeholder="#1+" value="{{$.Session.get 'total'}}">
        </div>
    </form>
</template>
