<template name="blacklist">
    <div id="blacklist" class="ui centered equal width internally celled padded grid">
        {{#each range 0 rows 1}}
            {{> blacklistRow blacklist=(blacklist order) columns=columns row=order}}
        {{/each}}
    </div>
</template>

<template name="blacklistRow">
    <div id="row-{{row}}" class="row">
        {{#each range 0 columns 1}}
            {{> blacklistCell cell=(cell order) column=order row=row}}
        {{/each}}
    </div>
</template>

<template name="blacklistCell">
    <div id="column-{{column}}-row-{{row}}"
         class="{{#unless cell.blacklist}}blue{{/unless}} middle aligned column">
        <i class="inverted cancel icon"></i>
    </div>
</template>
