<template name="data">
    {{#with selected}}
        <h2 class="ui inverted breadcrumb header">
            <i class="inverted grey calendar icon divider"></i>
            <a id="session" class="section">
                Session on {{formatDate date 'dddd, MMMM Do'}} at {{formatDate date 'HH:mm'}}
            </a>
            <i class="inverted grey right chevron icon divider"></i>
            <div class="section">Trials</div>
            <i class="inverted grey right chevron icon divider"></i>
        </h2>
        {{> trialList}}
    {{else}}
        <h2 class="ui inverted breadcrumb header">
            <i class="inverted grey calendar icon divider"></i>
            <div class="section">Sessions</div>
            <i class="inverted grey right chevron icon divider"></i>
        </h2>
        {{> sessionList}}
    {{/with}}
</template>

<template name="sessionList">
    <table id="session-list" class="ui very basic center aligned inverted sortable celled table">
        <thead>
        <tr>
            <th class="sorted">Subject</th>
            <th class="sorted">Date & Time</th>
            <th class="sorted">Device</th>
            <th class="sorted">User</th>
        </tr>
        </thead>

        <tbody>
        {{#each session}}
            <tr>
                <td class="selectable">
                    <a>{{subject}}</a>
                </td>
                <td class="collapsible selectable">
                    <a>
                        <i class="calendar icon"></i>{{formatDate date 'MMMM Do'}}
                        <i class="stopwatch icon"></i>{{formatDate date 'HH:mm'}} - {{formatDate lastModified 'HH:mm'}}
                    </a>
                </td>
                <td class="selectable">
                    <a>
                        {{#with box device}}
                            <i class='{{#if status.online}}green{{else}}red{{/if}} cube icon'></i>
                            {{profile.name}}
                        {{/with}}
                    </a>
                </td>
                <td class="selectable">
                    <a>
                        {{> profileAvatar user}}
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="trialList">
    <table class="ui very basic celled center aligned definition inverted sortable table">
        <thead class="full-width">
        <tr>
            <th></th>
            {{#each analyses 1}}
                {{#if order}}
                    <th class="sorted">Stage {{order}}</th>
                {{else}}
                    <th class="sorted">Reaction Time(s)</th>
                {{/if}}
            {{/each}}
        </tr>
        </thead>

        <tbody>
        {{#each trial}}
            <tr>
                <td class="selectable">
                    {{number}}
                </td>
                {{#each analyses number}}
                    <td class="selectable">
                        <div class="ui celled horizontal inverted list">
                            <div class="item">
                                <div class="ui celled inverted list">
                                    {{#each data}}
                                        {{#if $eq type 'click'}}
                                            <div class="item">
                                                <i class="{{#if correct}}green{{else}}red{{/if}}
                                                    {{#if $eq type 'click'}}hand pointer{{/if}} icon"></i>
                                                {{formatDate timeStamp 'HH:mm:ss.SSS'}}
                                            </div>
                                        {{else}}
                                            <div class="item">
                                                {{#if $eq type 'cross'}}
                                                    <i class="plus icon"></i>
                                                {{/if}}
                                                {{#if $eq type 'iti'}}
                                                    <i class="stopwatch icon"></i>
                                                {{/if}}
                                                {{formatDate timeStamp 'HH:mm:ss.SSS'}}
                                            </div>
                                        {{/if}}
                                    {{/each}}

                                    {{#each analysis}}
                                        <div class="item">
                                            Stage {{stage}} | Event {{event}}
                                            <i class="stopwatch icon"></i>
                                            | {{timeStamp}} ms
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
