<template name="menu">
    <div class="ui secondary stackable pointing menu">
        <a class="ui animated inverted button item" href="/create" tabindex="1">
            <div class="visible content">
                <i class="black plus icon"></i>
            </div>
            <div class="hidden content">Create</div>
        </a>
        {{#each experiment}}
            <a class="{{isActivePath regex=url}} item" href="{{url}}/run" tabindex="0">
                {{title}}
            </a>
        {{/each}}

        <div class="right menu">
            <a class="{{isActiveRoute 'home'}} ui item" href="/" tabindex="2">
                <i class="home icon"></i>
            </a>

            {{#if currentUser}}
                <a class="active item">
                    {{#if currentUser.profile.picture}}
                        <div class="ui avatar image">
                            <img src="{{currentUser.profile.picture}}">
                        </div>
                    {{else}}
                        <div class="content">
                            <div class="header">
                                {{currentUser.profile.name}}
                            </div>
                        </div>
                    {{/if}}
                </a>
                {{> atNavButton}}
            {{/if}}
        </div>
    </div>
</template>
