<template name="menu">
    <nav id="main-menu" class="ui {{#if currentUser.profile.device}}fade pink
{{else}}black inverted {{/if}}secondary stackable pointing menu">
        {{#if currentUser}}
            {{#unless currentUser.profile.device}}
                <a id="create" class="{{isActiveRoute 'create'}} ui animated button item" href="/create" tabindex="1">
                    <div class="visible content">
                        <i class="plus icon"></i>
                    </div>
                    <div class="hidden content">Create</div>
                </a>

                {{#each experiment}}
                    <a class="{{isActivePath regex=link}} item" href="{{link}}{{tabs _id}}" tabindex="0">
                        {{title}}
                    </a>
                {{/each}}
            {{else}}
                {{#each session}}
                    {{> sessionWindow}}
                {{else}}
                    {{#with currentUser.status.active.calibration}}
                        {{> calibrationWindow}}
                    {{/with}}
                {{/each}}
            {{/unless}}

            <div class="right menu">
                {{#with currentUser}}
                    {{#unless profile.device}}
                        <a id="subject-panel" class="{{isActiveRoute 'subjects'}} ui animated button item" href="/subjects">
                            <div class="visible content">
                                <i class="fitted inverted large paw icon"></i>
                            </div>
                            <div class="hidden content">Subjects</div>
                        </a>

                        <a id="device-panel" class="{{isActiveRoute 'devices'}} ui animated button item" href="/devices">
                            <div class="visible content">
                                <i class="fitted inverted large th icon"></i>
                            </div>
                            <div class="hidden content">Devices</div>
                        </a>

                        <a id="home" class="{{isActiveRoute 'home'}} item" href="/" tabindex="3">
                            {{> profileAvatar _id}}
                        </a>
                    {{else}}
                        <a id="home" class="{{isActiveRoute 'home'}} item" href="/" tabindex="3">
                            <div class="ui inverted tiny header">
                                <i class="grey cube icon"></i>
                                <div class="content"> {{profile.name}}</div>
                            </div>
                        </a>
                    {{/unless}}
                {{/with}}

                {{> atNavButton}}
            </div>
        {{/if}}
    </nav>
</template>

<template name="calibrationWindow">
    <a class="active item" href="{{link}}" tabindex="0">
        <i class="inverted pink tag icon"></i>
        Calibrate {{currentUser.profile.name}}
    </a>
</template>

<template name="sessionWindow">
    <a class="active item" href="{{link}}" tabindex="0">
        <i class="inverted pink tag icon"></i>
        {{subject}}
    </a>
</template>
