<template name="menu">
    <div class="ui secondary stackable pointing menu">
        <a class="ui animated inverted button item" href="/create" tabindex="1">
            <div class="visible content">
                <i class="black plus icon"></i>
            </div>
            <div class="hidden content">Create</div>
        </a>
        {{#each experiment}}
            <a class="{{isActivePath regex=url}} item" href="{{url}}/run" tabindex="0">
                {{title}}
            </a>
        {{/each}}

        <div class="right menu">
            <a class="ui item">{{currentUser._id}}</a>
            <a class="{{isActiveRoute 'home'}} ui item" href="/" tabindex="2">
                <i class="home icon"></i>
            </a>
            <!--{{> atNavButton}}-->
        </div>
    </div>
</template>
