<template name="profileAvatar">
    {{#with user this}}
        {{#if profile.picture}}
            <img class="ui avatar image" src="{{profile.picture}}">
        {{else}}
            <div class="ui inverted tiny header">
                <i class="{{#if profile.device}}cube{{else}}user{{/if}} icon"></i>
                <div class="content"> {{profile.name}}</div>
            </div>
        {{/if}}
    {{else}}
        <i class="circular fitted inverted left floated tiny {{this}} icon"></i>
    {{/with}}
</template>
