<template name="profileAvatar">
    {{#with user this}}
        {{#if profile.picture}}
            <div class="ui avatar image">
                <img src="{{profile.picture}}">
            </div>
        {{else}}
            <div class="ui inverted tiny header">
                <i class="{{#if profile.device}}cube{{else}}user{{/if}} icon"></i>
                <div class="content">
                    {{profile.name}}
                </div>
            </div>
        {{/if}}
    {{/with}}
</template>
