<template name="bars">
    <g id="stimulus-at-{{location.x}}-{{location.y}}" class="stimulus">
        {{> bar}}
        {{> bar}}
        {{> bar}}
        {{> bar}}
        <rect class="horizontal-{{location.x}}-of-{{grid.x}} vertical-{{location.y}}-of-{{grid.y}} region"
              fill="transparent"
              height="{{height}}"
              width="{{width}}"></rect>
    </g>
</template>

<template name="bar">
    <rect class="{{orientation.value}}-{{orientation.units}} bar"
          fill="transparent" height="{{height}}" width="{{width}}"></rect>
</template>
