<template name="dataDropdown">
    <div id="templates" class="ui search selection dropdown button item" style="margin: 0">
        <input type="hidden" name="template">
        <i class="dropdown icon"></i>
        <span class="text">Select Template</span>

        <div class="menu">
            {{#each templates}}
                <div class="item" data-value="{{id}}">
                    <div class="ui {{group}} empty circular label"></div>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
