<template name="deviceDropdown">
    <div id="devices" class="ui black labels multiple search selection dropdown">
        <input type="hidden" name="devices">
        <i class="dropdown icon"></i>

        <div class="default text"><i class="cube icon"></i> Device(s)</div>

        <div class="menu">
            {{#each device}}
                <div class="item" data-value="{{encrypt _id}}"><i class="{{#if
                        status.online}}green{{else}}red{{/if}} left floated cube icon"></i> {{profile.name}}</div>
            {{/each}}
        </div>
    </div>
</template>
