<template name="inputDropdown">
    <div id="inputs" class="ui pointing up icon dropdown">
        <a class="ui black label">
            <i class="grey link hand pointer icon"></i>
            Inputs
        </a>

        <div class="menu">
            <div class="header">
                <i class="plus icon"></i>
                Add
            </div>
            <div class="divider"></div>

            {{#each input}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
