<template name="conditionsDropdown">
    <div id="conditions" class="conditions ui black button dropdown">
        <input type="hidden" name="input">
        <div class="default text">{ condition }</div>
        <i class="dropdown icon"></i>

        <div class="menu">
            {{#each condition}}
                {{#each objects}}
                    <div class="item" data-value="{{name}}">
                        <span class="text">{{name}}</span>
                        <div class="menu">
                            <div class="item" data-value="{{name}}.{{property}}">
                                {{property}}
                            </div>
                        </div>
                    </div>
                {{/each}}

                {{comparison}}

                {{#each subjects}}
                    <span class="text">{{name}}</span>
                    <div class="menu">
                        <div class="item">{{property}}</div>
                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>
</template>

<template name="correctDropdown">
    <div id="correct" class="ui black button search dropdown">
        <input type="hidden" name="input">
        <div class="default text">{ correct }</div>
        <i class="dropdown icon"></i>

        <div class="menu">
            {{#each correct}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="eventDropdown">
    <div id="events" class="ui black button labels multiple search dropdown">
        <input type="hidden" name="input">
        <div class="default text">{event}</div>

        <div class="menu">
            {{#each event}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="incorrectDropdown">
    <div id="incorrect" class="ui black button search dropdown">
        <input type="hidden" name="input">
        <div class="default text">{ incorrect }</div>
        <i class="dropdown icon"></i>

        <div class="menu">
            {{#each incorrect}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="inputDropdown">
    <div id="inputs" class="ui pointing up icon dropdown">
        <a class="ui black label">
            <i class="grey link hand pointer icon"></i>
            Inputs
        </a>

        <div class="menu">
            <div class="header">
                <i class="plus icon"></i>
                Add
            </div>
            <div class="divider"></div>

            {{#each input}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
