<template name="comparisonsDropdown">
    <div id="comparisons" class="conditions ui black button search dropdown">
        <input type="hidden" name="comparison">
        <div class="default text ui tiny header">{ comparison }</div>

        <div class="menu">
            {{#each comparison}}
                <div class="item" data-value="{{name}}">
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="conditionsDropdown">
    <div class="conditions ui black button dropdown">
        <input type="hidden" name="{{name}}s">
        <div class="default text ui {{#if $eq name 'object'}}blue{{else}}orange{{/if}} tiny header">{ {{name}} }</div>

        <div class="menu">
            {{#each condition}}
                <div class="item" data-value="{{name}}">
                    {{name}}
                    {{#if values}}<i class="dropdown icon"></i>{{/if}}

                    <div class="menu">
                        {{#each property in values}}
                            <div class="item" data-text="{{name}}.{{property}}" data-value="{{name}},{{property}}">
                                {{property}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="conditionsItem">
    {{#with conditions}}
        <div class="condition item">
            <div class="left floated content">
                <i class="grey link close icon"></i>

                {{#each objects}}
                    <a class="ui blue image label">
                        {{name}}
                        {{#if property}}<span class="detail">{{property}}</span>{{/if}}
                    </a>
                {{/each}}

                <a class="ui black image label">{{comparison}}</a>

                {{#each subjects}}
                    <a class="ui orange image label">
                        {{name}}
                        {{#if property}}<span class="detail">{{property}}</span>{{/if}}
                    </a>
                {{/each}}
            </div>
        </div>
    {{/with}}
</template>

<template name="conditionsList">
    <div class="ui small list">
        {{#each conditions}}
            {{> conditionsItem conditions=this item=@index}}
        {{/each}}
    </div>
</template>

<template name="correctItem">
    {{#with correct}}
        <div class="correct item">
            <div class="left floated content">
                <i class="grey link close icon"></i>

                <div class="ui mini labeled button" tabindex="0">
                    <div class="ui mini green button">
                        {{action}}{{#if specifications}}{{specifications.amount}}{{/if}}
                    </div>

                    {{#each targets}}
                        <a class="ui basic green left pointing label">
                            {{#if type}}{{type}}{{else}}{{this}}{{/if}}
                            {{#each commands}}
                                ({{command}})
                            {{/each}}
                            {{#if property}}<span class="detail">{{property}}</span>{{/if}}
                        </a>
                    {{/each}}
                </div>

            </div>
        </div>
    {{/with}}
</template>

<template name="correctList">
    <div class="ui small list">
        {{#each correct}}
            {{> correctItem correct=this item=@index}}
        {{/each}}
    </div>
</template>

<template name="correctDropdown">
    <div id="correct" class="ui black button search dropdown">
        <input type="hidden" name="input">
        <div class="default text ui green tiny header">{ true }</div>

        <div class="menu">
            {{#each correct}}
                <div class="item" data-value="{{action}}">
                    {{action}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="eventDropdown">
    <div class="events ui black button labels multiple search dropdown">
        <input type="hidden" name="input" value="{{event}}">
        <div class="default text">{event}</div>

        <div class="menu">
            {{#each events}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="incorrectDropdown">
    <div id="incorrect" class="ui black button search dropdown">
        <input type="hidden" name="input">
        <div class="default text ui red tiny header">{ false }</div>

        <div class="menu">
            {{#each incorrect}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="incorrectItem">
    {{#with incorrect}}
        <div class="incorrect item">
            <div class="left floated content">
                <i class="grey link close icon"></i>

                <div class="ui mini labeled button" tabindex="0">
                    <div class="ui mini red button">
                        {{action}}{{#if specifications}}{{specifications.amount}}{{/if}}
                    </div>

                    {{#each targets}}
                        <a class="ui basic red left pointing label">
                            {{#if type}}{{type}}{{else}}{{this}}{{/if}}
                            {{#if property}}<span class="detail">{{property}}</span>{{/if}}
                        </a>
                    {{/each}}
                </div>

            </div>
        </div>
    {{/with}}
</template>

<template name="incorrectList">
    <div class="ui small list">
        {{#each incorrect}}
            {{> incorrectItem incorrect=this item=@index}}
        {{/each}}
    </div>
</template>

<template name="inputDropdown">
    <div id="inputs" class="ui pointing up icon dropdown">
        <a class="ui black label">
            <i class="grey link hand pointer icon"></i>
            Inputs
        </a>

        <div class="menu">
            <div class="header">
                <i class="plus icon"></i>
                Add
            </div>
            <div class="divider"></div>

            {{#each input}}
                <div class="item" data-value="{{name}}">
                    <i class="{{icon}} icon"></i>
                    {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="inputItem">
    <div class="input item">
        <div class="right floated content">
            <i class="grey link trash icon"></i>
        </div>

        <div class="content">
            <div class="ui equal width divided padded stackable grid">
                <div class="ui vertical segments column">
                    <div class="ui basic segment">
                        <span class="ui black inverted horizontal label">When...</span>
                        {{> eventDropdown (input)}}

                        <div class="ui horizontal divider"></div>
                    </div>
                    <div class="ui basic segment">
                        <div class="ui form">
                            <span class="ui black inverted horizontal label">If...</span>
                            <div class="ui small compact buttons">
                                {{> conditionsDropdown name="object"}}
                                {{> comparisonsDropdown}}
                                {{> conditionsDropdown name="subject"}}
                            </div>

                            <div class="add-condition ui small inverted black icon button"><i
                                    class="fitted plus icon"></i></div>
                            {{> conditionsList (input)}}
                        </div>
                    </div>
                </div>

                <div class="ui one wide middle aligned column">
                    <i class="ui big right arrow icon"></i>
                </div>

                <div class="ui vertical segments column">
                    <div class="ui basic green segment">
                        <div class="ui form">
                            <label class="ui top left attached green horizontal label">
                                <i class="check icon"></i>
                                True
                            </label>

                            <div class="ui small buttons">
                                {{> correctDropdown (input)}}
                            </div>

                            <div class="add-correct ui small inverted black icon button"><i
                                    class="fitted plus icon"></i></div>
                            {{> correctList (input)}}
                        </div>
                    </div>
                    <div class="ui basic red segment">
                        <div class="ui form">
                            <label class="ui top left attached red horizontal label">
                                <i class="dont icon"></i>
                                False
                            </label>

                            <div class="ui small buttons">
                                {{> incorrectDropdown (input)}}
                            </div>

                            <div class="add-incorrect ui small inverted black icon button"><i
                                    class="fitted plus icon"></i></div>
                            {{> incorrectList (input)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="inputList">
    <div class="ui mini middle aligned divided inverted list">
        {{#each input page inputs}}
            {{> inputItem index=@index input=this stage=../page}}
        {{/each}}
    </div>
</template>
