<template name="offsetDropdown">
    <div id="offsets" class="ui labeled search selection dropdown" name="template">
        <input type="hidden" name="template">
        <i class="dropdown icon"></i>
        <div class="default text">Session Template</div>

        <div class="menu">
            {{#each templates}}
                <div class="item" data-value="{{key}}">
                    {{#with value}}
                        {{#if name}}{{name}}{{/if}}
                        {{#with cross.offset}}<div class="ui horizontal right floated mini orange label">{{x}}, {{y}}</div>{{/with}}
                    {{/with}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
