<template name="templateDropdown">
    <div id="templates" class="ui search selection dropdown">
        <input type="hidden" name="template" value="{{name}}">
        <i class="dropdown icon"></i>
        <div class="default text">
            <i class="asterisk loading icon"></i> Custom Template
        </div>

        <div class="menu">
            {{#each template}}
                <div class="item" data-value="{{name}}">
                    {{> profileAvatar author}} {{name}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
