/**------ TAGS + IDs: ------*/
/* Remove extraneous styling from trial screen: */
body, html, #main-panel {
    background: none;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#main-panel.nocturnal {
    cursor: crosshair;
    /*cursor: none;*/
}
