/**------ TAGS: ------*/
audio {
    height: 60%;
    width: 100%;
}

body, html {
    background: none;
}

.ui.accordion .form input {
    text-align: center;
}

.ui.inverted.transparent input[type="number"] {
    color: white !important;
    text-align: center;
}

/**------ IDs: ------*/
#blacklist {
    margin: 1em 0 !important;
}

#blacklist > .row > .blue.column {
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

#main-panel {
    background: #222;
    height: 100%;
    overflow: auto;
}

#main-panel.nocturnal {
    background: #000;
}

/**------ CLASSES: ------*/
.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade:hover {
    opacity: 1;
}

.ui.vertical.tabular.menu .active.item {
    color: rgba(0, 0, 0, 0.95) !important;
}
