/**------ GLOBAL VARIABLES: ------*/
:root {
    --black: #000;
    --blue: #2185d0;
    --dark: #222;
    --grey: #767676;
    --orange: #ff851b;
    --white: #fff;
    --yellow: #ffe21f;
}

/**------ TAGS: ------*/
audio {
    height: 60%;
}

.editable .form .field .transparent.input > input[type="text"] {
    border: none;
    margin-top: -4px;
    padding: 0;
    width: 90px;
}

nav#main-menu a.item {
    border-radius: 4px 4px 0 0;
    margin: 0 1px;
}

nav#main-menu a#home:has(.image) {
    padding: 9px 5.5px 9px 9px;
}

#main-panel:not(.nocturnal) nav#main-menu a.active.item,
:not(.nocturnal) nav#main-menu a.item:active {
    background: rgb(from var(--white) r g b / 15%);
}

#main-panel:not(.nocturnal) nav#main-menu.ui.menu a.item:hover {
    background: rgb(from var(--white) r g b / 8%);
}

.one-tone .ui.checkbox.toggle input:checked~label::before {
    background-color: rgb(from var(--color) r g b / 90%);
}

.one-tone .ui.checkbox.toggle input:checked~label:hover::before {
    background-color: rgb(from var(--color) r g b / 100%);
}

text.filled {
    fill: var(--color);
}

text.vertical {
    text-orientation: sideways;
    -webkit-text-orientation: sideways;
    writing-mode: tb-rl;
    writing-mode: sideways-rl;
}

.two-tone .ui.checkbox.toggle input:not(:checked)~label::before {
    background-color: rgb(from var(--color) r g b / 90%);
}

.two-tone .ui.checkbox.toggle input:not(:checked)~label:hover::before {
    background-color: rgb(from var(--color) r g b / 100%);
}

.ui.accordion .form input {
    text-align: center;
}

.ui.inverted.transparent input[type="number"] {
    color: var(--white) !important;
    text-align: center;
}


/**------ IDs: ------*/
#blacklist, #cross-preview {
    border: 0.1em solid var(--grey);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

#blacklist {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
}

#blacklist > .row > .column {
    background-clip: content-box;
    transition: 0.3s ease all;
}

#blacklist > .row > .column:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

#blacklist > .row > .column.dark {
    background-color: rgb(from var(--white) r g b / 2%);
}

#main-menu > #create {
    flex: initial;
    justify-content: normal;
}

#cross-preview {
    background: var(--dark);
    background-position: -1px -1px;
    background-size: 100px 100px;
    background-image: linear-gradient(to right, var(--grey) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grey) 1px, transparent 1px);

    border-left-color: var(--blue);
    border-top-color: var(--orange);
    display: block;
    margin: 0 auto 1.5em auto;
}

#main-panel:not(.nocturnal),
#main-panel:not(.nocturnal)::before {
    background: var(--dark);
    height: 100%;
    overflow: auto;
}

[id^="modal-calibrate-"] ::-webkit-scrollbar-button,
#subject-modal ::-webkit-scrollbar-button {
    height: 4em;
}

[id^="modal-calibrate-"] ::-webkit-scrollbar-thumb,
#subject-modal ::-webkit-scrollbar-thumb {
    background: rgb(from var(--white) r g b / 25%);
}

[id^="modal-calibrate-"] ::-webkit-scrollbar-thumb:hover,
#subject-modal ::-webkit-scrollbar-thumb:hover {
    background: rgb(from var(--white) r g b / 80%);
}

[id^="modal-calibrate-"] ::-webkit-scrollbar-track,
#subject-modal ::-webkit-scrollbar-track {
    background: rgb(from var(--white) r g b / 10%);
    border-radius: 1em;
}


/**------ CLASSES: ------*/
.blue {
    --color: var(--blue);
}

details.ui.accordion .content {
    box-sizing: border-box;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade:hover {
    opacity: 1;
}

.italicized {
    font-style: italic;
}

.orange {
    --color: var(--orange);
}

.outlined {
    border: 1px solid var(--color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px !important;
    margin-top: -10px !important;
}

.outlined .fixed.icon {
    position: absolute;
    top: 5px;
}

.outlined .left.icon {
    left: -25px;
}

.outlined .right.icon {
    right: -25px;
}

.ui.ordered.selection.list .item::before {
    padding: 0 0.3rem 0 1.3rem;
    position: relative;
}

.ui.tab .ui.cards:first-of-type {
    margin-top: 0.875em;
}

.underline {
    text-decoration: var(--color) underline dotted 2px;
    text-underline-offset: 3px;
}

.yellow {
    --color: var(--yellow);
}
