<template name="audioForm">
    <form id="audio-form" class="ui inverted form">
        <div class="field">
            <label>
                Audio Type
                <select class="audio-type ui dropdown">
                    <option value="file">File</option>
                    <option value="noise">Noise</option>
                    <option value="wave">Waveform</option>
                </select>
            </label>
        </div>

        <div class="two fields">
            <div class="field">
                <label>
                    Delay
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="audio.delay"
                       placeholder="#" value="{{delay}}">
            </div>
            <div class="field">
                <label>
                    Duration
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="audio.duration"
                       placeholder="#" value="{{duration}}">
            </div>
            <div class="field">
                {{#if $eq audioType 'file'}}
                    <label class="">
                        <i class="music icon"></i>
                        {{file.name}}
                        <span class="ui mini horizontal label">
                        .{{file.type}}
                    </span>
                    </label>

                    <!--                <canvas class="canvas"></canvas>-->
                    <audio class="audio" controls>
                        <source src="{{file.source}}" type="audio/{{file.type}}">
                    </audio>
                {{/if}}

                {{#if $eq audioType 'noise'}}
                {{/if}}

                {{#if $eq audioType 'wave'}}
                    <label>
                        Frequency
                        <span class="ui mini horizontal label">hz</span>
                    </label>
                    <input type="number" name="wave.frequency"
                           placeholder="#" value="{{wave.frequency}}">
                {{/if}}
            </div>
        </div>
    </form>
</template>
