<template name="crossForm">
    <form id="cross-form" class="ui inverted form">
        {{#if visible}}
            <svg id="cross-preview" width="100%">{{> cross preview=true span=element.span weight=element.weight}}</svg>
        {{/if}}

        <div class="two fields">
            <div class="field">
                <label>
                    Span (Size)
                    <span class="ui mini horizontal label">pixels</span>
                </label>
                <input type="number" name="span"
                       placeholder="#" value="{{element.span}}">
            </div>
            <div class="field">
                <label>
                    Weight (Thickness)
                    <span class="ui mini horizontal label">pixels</span>
                </label>
                <input type="number" name="weight"
                       placeholder="#" value="{{element.weight}}">
            </div>
        </div>
    </form>
</template>
