<template name="crossForm">
    {{#with element}}
    <form id="cross-form" class="ui inverted form">
        {{#if visible}}
            <svg id="cross-preview" width="100%">{{> cross preview=true span=span weight=weight}}</svg>
        {{/if}}

        <div class="two fields">
            <div class="field">
                <label>
                    Span (Size)
                    <span class="ui mini horizontal label">pixels</span>
                </label>
                <input type="number" name="span"
                       placeholder="#" value="{{span}}">
            </div>
            <div class="field">
                <label>
                    Weight (Thickness)
                    <span class="ui mini horizontal label">pixels</span>
                </label>
                <input type="number" name="weight"
                       placeholder="#" value="{{weight}}">
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>
                    Delay
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="delay"
                       placeholder="#" value="{{delay}}">
            </div>
            <div class="field">
                <label>
                    Duration
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="duration"
                       placeholder="#" value="{{duration}}">
            </div>
        </div>
    </form>
        {{/with}}
</template>
