<template name="rewardForm">
    <form id="reward-form" class="ui inverted form">
        <div class="equal width fields">
            <div class="field">
                <label>
                    Delay
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="reward.delay"
                       placeholder="#" value="{{delay}}">
            </div>

            {{#each commands}}
                {{#if $eq command 'dispense'}}
                    <div class="field">
                        <label>
                            Dispense Duration
                            <span class="ui mini horizontal label">s</span>
                        </label>
                        <input type="number" name="reward.amount"
                               placeholder="#" value="{{amount}}">
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </form>
</template>
