<template name="sessionForm">
    <form id="session-form" class="ui equal width inverted form">
        <div class="fields">
            <div class="field">
                <label>
                    Delay (before session start)
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="session.delay"
                       placeholder="#" value="{{delay}}">
            </div>
            <div class="field">
                <label>
                    Intertrial Interval (ITI)
                    <span class="ui mini horizontal label">ms</span>
                </label>
                <input type="number" name="session.iti"
                       placeholder="#" value="{{iti}}">
            </div>
            {{#if light}}
                <div class="field">
                    <label>
                        Light Duration
                        <span class="ui mini horizontal label">ms</span>
                    </label>
                    <input type="number" name="light.duration"
                           placeholder="#" value="{{light.duration}}">
                </div>
            {{/if}}
        </div>

        <div class="fields">
            {{#if duration}}
                <div class="field">
                    <label>
                        Duration
                        <span class="ui mini horizontal label">ms</span>
                    </label>
                    <input type="number" name="session.duration"
                           placeholder="#" value="{{duration}}">
                </div>
            {{/if}}
            {{#if total}}
                <div class="field">
                    <label>No. of Trials</label>
                    <input type="number" name="session.total" placeholder="#1+" value="{{total}}">
                </div>
            {{/if}}
        </div>
    </form>
</template>
