<template name="stimuliForm">
    <form id="stimuli-form" class="ui inverted form">
        <div class="inline field">
            <label>No. of Stimuli</label>
            <input type="number" name="number" placeholder="#1+" value="{{number}}">
        </div>
        {{#if number}}
            <div class="ui divided inverted {{#if $gt number 1}}two{{else}}one{{/if}} column grid">
                <div class="row">
                    <div class="column">
                        {{> stimulusForm (stimuli 1)}}
                    </div>
                </div>
            </div>
        {{/if}}
    </form>
</template>

<template name="stimulusForm">
    <form id="stimulus-form-{{order}}" class="ui inverted form">
        <label class="ui big blue ribbon label">
            <i class="{{#unless attend index}}disabled{{else}}yellow{{/unless}} link trophy icon"
               title="{{#unless attend index}}un{{/unless}}attended stimulus"></i>
            Stimulus {{order}}
        </label>

        <h5 class="blue header inverted sub ui">
            <i class="right chevron icon"></i>
            Grid
        </h5>

        {{#with element}}
            {{> blacklist}}
            <div class="three fields">
                <div class="field">
                    <div class="ui inverted transparent input">
                        <div class="ui mini blue right pointing label">
                            columns
                        </div>
                        <input type="number" name="grid-x" placeholder="#"
                               value="{{grid.x}}">
                    </div>
                </div>
                <div class="field">
                    <div class="ui inverted transparent input">
                        <div class="ui mini blue right pointing label">
                            rows
                        </div>
                        <input type="number" name="grid-y" placeholder="#"
                               value="{{grid.y}}">
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checked toggle checkbox">
                        <input id="dynamic-grid-{{order}}" checked type="checkbox" tabindex="0" class="hidden">
                        <label for="dynamic-grid-{{order}}">
                            {{#if checked 'grid'}}
                                <span class="ui blue inverted sub header">Variable</span>
                            {{else}}
                                <span class="ui inverted sub header">Fixed</span>
                            {{/if}}
                        </label>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input id="weighted-grid-{{order}}" type="checkbox" tabindex="0" class="hidden">
                        <label for="weighted-grid-{{order}}">
                            {{#if weighted element}}
                                <span class="ui blue inverted sub header">
                                Weighted
                            </span>
                                <i class="small blue percent icon"></i>
                            {{else}}
                                <span class="ui inverted sub header">
                                Equal
                            </span>
                                <i class="small percent icon"></i>
                            {{/if}}
                        </label>
                    </div>
                </div>
            </div>

            <h5 class="blue header inverted sub ui">
                <i class="right chevron icon"></i>
                Color
            </h5>
            <div class="two inline fields">
                {{#if checked 'contrast'}}
                    <div class="field">
                        <label>Contrast Min</label>
                        <input type="number" name="min"
                               placeholder="#" step="0.01" value="0">
                    </div>
                    <div class="field">
                        <label>Contrast Max</label>
                        <input type="number" name="contrast"
                               placeholder="#" step="0.01" value="{{contrast}}">
                    </div>
                    <div class="field">
                        <label>Step Size</label>
                        <input type="number" name="step"
                               placeholder="#" step="0.01" value="0.1">
                    </div>
                {{else}}
                    <div class="field">
                        <label>
                            Contrast
                            <span class="ui mini horizontal label">x/1</span>
                        </label>
                        <input type="number" name="contrast"
                               placeholder="#" step="0.01" value="{{contrast}}">
                    </div>
                {{/if}}
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="dynamic-contrast-{{order}}" type="checkbox" tabindex="0" class="hidden">
                        <label for="dynamic-contrast-{{order}}">
                            {{#if checked 'contrast'}}
                                <span class="ui blue inverted sub header">Variable</span>
                            {{else}}
                                <span class="ui inverted sub header">Fixed</span>
                            {{/if}}
                        </label>
                    </div>
                </div>
            </div>

            <h5 class="blue header inverted sub ui">
                <i class="right chevron icon"></i>
                Size
            </h5>

            {{> stimulusPreview}}

            {{#unless frequency}}
                <div class="fields">
                    <div class="field">
                        <label>
                            Bars
                            <span class="ui mini horizontal label">bars</span>
                        </label>
                        <input type="number" name="bars"
                               placeholder="#" value="{{bars}}">
                    </div>
                    <div class="field">
                        <label>
                            Spacing
                            <span class="ui mini horizontal label">x Weight</span>
                        </label>
                        <input type="number" name="spacing"
                               placeholder="#" value="{{spacing}}">
                    </div>
                </div>
            {{/unless}}

            <div class="fields">
                {{#if frequency}}
                    <div class="field">
                        <label>
                            Frequency
                            <span class="ui mini horizontal label">bars/unit</span>
                        </label>
                        <input type="number" name="frequency"
                               placeholder="#" value="{{frequency}}">
                    </div>
                {{/if}}
                <div class="field">
                    <label>
                        Span
                        <span class="ui mini horizontal label">px</span>
                    </label>
                    <input type="number" name="span"
                           placeholder="#" value="{{span}}">
                </div>
                <div class="field">
                    <label>
                        Weight
                        <span class="ui mini horizontal label">px</span>
                    </label>
                    <input type="number" name="weight"
                           placeholder="#" value="{{weight}}">
                </div>
            </div>

            <h5 class="blue header inverted sub ui">
                <i class="right chevron icon"></i>
                Timing
            </h5>
            <div class="fields">
                <div class="field">
                    <label>
                        Delay
                        <span class="ui mini horizontal label">ms</span>
                    </label>
                    <input type="number" name="delay"
                           placeholder="#" value="{{delay}}">
                </div>
                <div class="field">
                    <label>
                        Stimulus Duration
                        <span class="ui mini horizontal label">ms</span>
                    </label>
                    <input type="number" name="duration"
                           placeholder="#" value="{{duration}}">
                </div>
            </div>
        {{/with}}
    </form>
</template>

<template name="stimulusPreview">
    <svg class="stimulus-preview" width="100%">
        {{#with stimulus}}
            {{> bars center=center data=data}}
        {{/with}}
    </svg>
</template>
