---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/** TAGS: */
* {
  box-sizing: border-box;
}

::backdrop {
    background:  color-mix(in lch, var(--color), transparent 60%);
}

:root, ::backdrop {
    --color: #f0f8ff;
    --background: #fefefe;
    --grid-size: 60px;
    --grid-width: 0.9px;
    --highlight: #88b4fb;
    --shadow: #155799;
}

body::before {
  content: '';
  inset: 0;
  position: fixed;
  background-image: repeating-linear-gradient(transparent, transparent var(--grid-size), color-mix(in lch, var(--color), transparent 80%) 0, color-mix(in lch, var(--color), transparent 80%) calc(var(--grid-size) + var(--grid-width))), repeating-linear-gradient(90deg, transparent, transparent var(--grid-size), color-mix(in lch, var(--color), transparent 80%) 0, color-mix(in lch, var(--color), transparent 80%) calc(var(--grid-size) + var(--grid-width)));
  mask-image: radial-gradient(transparent 15%, #0000004a, transparent 90%);
  z-index: -1;
}

body {
  background-color: #586069;
  background-image: linear-gradient(120deg, var(--shadow), var(--highlight));
  border-left: 0.1em solid rgba(255, 255, 255, 0.2);
  border-right: 0.1em solid rgba(255, 255, 255, 0.2);
  color: var(--color);
  padding: 6em 0;
}

body p, body #subtitle, body #title {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-align: center;
}

html {
  font-family: sans-serif;
  padding: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background-color: transparent;
  color: inherit;
  text-decoration: gold underline 0.2em;
  text-decoration-skip-ink: none;
}

small {
  font-size: 80%;
}

img {
  background: none !important;
}


/** IDS: */
@media only screen and (min-width: 600px) {
  #box, #pc {
    padding-left: 2em;
  }
}

@media (max-width: 650px) {
  body {
    padding: 0.5em;
  }

  p:first-child {
    display: flex;
    margin: auto;
    max-width: 300px;
  }

  img {
    margin: auto;
    max-height: 2em;
  }

  .button {
    display: block !important;
    margin-top: 6px !important;
  }
}

@media (hover: hover) and (max-width: 650px) {
  .button:hover {
    margin: 6px !important;
  }
}

#about {
  background-color: var(--color);
  color: var(--shadow);
  font-size: large;
  max-width: 554px;
}

#about a {
  color: var(--shadow);
  font-weight: bold;
  text-decoration: none;
}

#about a:hover {
  color: var(--highlight);
}

#box, #pc {
  height: 6em;
}

#copyright {
  opacity: 0.75;
  text-align: center;
}

#copyright img {
  margin-left: 0.3em;
  vertical-align: text-top;
}

#mouse {
  height: 2em;
}

#subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  margin-top: 0;
}

#subtitle strong {
  color: var(--color);
  transition: 0.5s ease all;
}

#subtitle strong:hover {
  color: #111;
}

#title {
  font-size: 6em;
  border: none;
  color: var(--color);
  padding: 0;
}

#title:active, #title:hover {
  color: var(--color);
  text-decoration: none;
}

/** CLASSES: */
.blurb {
  margin: auto;
  padding: 1em 1.5em;
  text-align: justify;
}

.button {
  background-color: rgba(6, 91, 152, 0.9);
  display: inline-block;
  font-size: smaller;
  margin: 0.1em;
  padding: 0.5em 0.5em 0.4em 0.4em;
  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, margin 0.2s, transform 0.1s;
  transform: scale(1) skewX(-1deg);
}

.button:hover {
  background-color: rgba(6, 91, 152, 0.1);
  border-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  margin: 0.1em 0.25em;
  text-decoration: none;
  transform: scale(1.05);
}

.disabled {
  cursor: not-allowed;
}

.footer {
  display: none;
}

.icon {
  height: 2em;
  vertical-align: middle;
}

.outlined {
  color: var(--color);
  border: 0.01em solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
  box-shadow: 1px 1px 0px 0px var(--shadow), 2px 2px 0px 0px var(--shadow), 3px 3px 0px 0px var(--shadow), 4px 4px 0px 0px var(--shadow), 5px 5px 0px 0px var(--shadow);
}

.path {
  transition: 0.5s ease-in all;
}

.path:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
